variables:
  GO_VERSION: '1.23.4'
  GOPRIVATE: gitlab.com/iskaypetcom
  GOEXPERIMENT: nocoverageredesign

image: docker.io/golang:${GO_VERSION}

default:
  tags:
    - kubernetes-executor

.go-cache:
  variables:
    GOMODCACHE: $CI_PROJECT_DIR/.gomodcache
  before_script:
    - if [ -d "$HOME" ]; then echo "machine gitlab.com login glpat password $CICD_TOKEN" > "$HOME/.netrc"; fi
    - mkdir -p ${GOMODCACHE}
  cache:
    paths:
      - ${GOMODCACHE}/

stages:
  - release

bundle:
  extends: .go-cache
  stage: release
  script:
    ###
    - echo Step Build
    - go build -v ./...
    ###
    - echo Step Test report
    - go install gotest.tools/gotestsum@latest
    - gotestsum --junitfile report.xml --format testname
    ###
    - echo Step Coverage badge
    - CGO_ENABLED=0 go test ./... -coverprofile=coverage-report.out
    - go tool cover -html=coverage-report.out -o coverage-report.html
    - go tool cover -func=coverage-report.out
    ###
    - echo Step Coverage Report
    - go test ./... -coverprofile=coverage.txt -covermode count
    - go install github.com/boumenot/gocover-cobertura@latest
    - gocover-cobertura <coverage.txt >coverage.xml
    ###
    - echo Step Lint
    - go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
    - golangci-lint run --issues-exit-code 0 --print-issued-lines=false --out-format code-climate:gl-code-quality-report.json,line-number
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      codequality: gl-code-quality-report.json
    paths:
      - coverage-report.html
      - gl-code-quality-report.json
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches
