variables:
  GO_VERSION: '1.23.3'
  GOPRIVATE: gitlab.com/iskaypetcom
  GOEXPERIMENT: nocoverageredesign

image: docker.io/golang:${GO_VERSION}

default:
  tags:
    - kubernetes-executor

.go-cache:
  variables:
    GOMODCACHE: $CI_PROJECT_DIR/.gomodcache
  before_script:
    - if [ -d "$HOME" ]; then echo "machine gitlab.com login master_token password $CICD_TOKEN" > "$HOME/.netrc"; fi
    - mkdir -p ${GOMODCACHE}
  cache:
    paths:
      - ${GOMODCACHE}/

stages:
  - build

compile:
  extends: .go-cache
  stage: build
  script:
    - go mod tidy
    - go build -v ./...
  allow_failure: false
  only:
    - branches

test-report:
  extends: .go-cache
  stage: build
  needs:
    - compile
  variables:
    output: report.xml
  script:
    - go install gotest.tools/gotestsum@latest
    - gotestsum --junitfile report.xml --format testname
  artifacts:
    when: always
    reports:
      junit: report.xml
  allow_failure: false
  only:
    - branches

coverage:
  extends: .go-cache
  stage: build
  needs:
    - test-report
  variables:
    output: coverage-report.out
    html: coverage-report.html
  script:
    - CGO_ENABLED=0 go test ./... -coverprofile=coverage-report.out
    - go tool cover -html=coverage-report.out -o coverage-report.html
    - go tool cover -func=coverage-report.out
  artifacts:
    paths:
      - coverage-report.html
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches

coverage-report:
  extends: .go-cache
  stage: build
  needs:
    - test-report
  script:
    - go test ./... -coverprofile=coverage.txt -covermode count
    - go get github.com/boumenot/gocover-cobertura
    - go install github.com/boumenot/gocover-cobertura
    - gocover-cobertura <coverage.txt >coverage.xml
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - branches

race-condition:
  extends: .go-cache
  stage: build
  needs:
    - test-report
  script:
    - go test -race ./...
  allow_failure: true
  only:
    - branches

linter:
  extends: .go-cache
  stage: build
  needs:
    - compile
  variables:
    version: latest
    output: gl-code-quality-report.json
  script:
    - go install github.com/golangci/golangci-lint/cmd/golangci-lint@${version}
    - golangci-lint run --issues-exit-code 0 --print-issued-lines=false --out-format code-climate:gl-code-quality-report.json,line-number
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
    paths:
      - gl-code-quality-report.json
  allow_failure: true
  only:
    - branches
