variables:
  go_version: 1.20.3
  gitlab_token: ${CICD_TOKEN}
  GONOSUMDB: gitlab.com

default:
  tags:
    - kubernetes-executor

stages:
  - build
  - test

before_script:
  - git config --global url."https://oauth2:${gitlab_token}@gitlab.com".insteadOf "https://gitlab.com"

code_navigation:
  image: sourcegraph/lsif-go:latest
  allow_failure: true
  script:
    - lsif-go
  artifacts:
    reports:
      lsif: dump.lsif

compile:
  stage: build
  image: docker.io/golang:${go_version}
  script:
    - go mod tidy
    - go build -v ./...
  allow_failure: false
  only:
    - branches

unit:
  stage: test
  image: docker.io/golang:${go_version}
  variables:
    output: report.xml
  script:
    - go install gotest.tools/gotestsum@latest
    - gotestsum --junitfile ${output} --format testname
  artifacts:
    when: always
    reports:
      junit: ${output}
  allow_failure: false
  only:
    - branches

coverage:
  stage: test
  image: docker.io/golang:${go_version}
  variables:
    output: coverage-report.out
    html: coverage-report.html
  script:
    - CGO_ENABLED=0 go test ./... -coverprofile=${output}
    - go tool cover -html=${output} -o ${html}
    - go tool cover -func=${output}
  artifacts:
    paths:
      - ${html}
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches

lint:
  stage: test
  image: golangci/golangci-lint:latest
  variables:
    output: gl-code-quality-report.json
  script:
    - golangci-lint run --issues-exit-code 0 --print-issued-lines=false --out-format code-climate:${output},line-number
  artifacts:
    reports:
      codequality: ${output}
    paths:
      - ${report}
  allow_failure: false
  only:
    - branches