variables:
  GO_VERSION: 1.20.4
  GONOSUMDB: gitlab.com
  GOPRIVATE: gitlab.com/iskaypetcom

default:
  tags:
    - kubernetes-executor

stages:
  - build
  - test


code_navigation:
  image: sourcegraph/lsif-go:latest
  allow_failure: true
  script:
    - chmod +x .gitlab/machine.sh
    - .gitlab/machine.sh
    - git config --global url."https://oauth2:${CICD_TOKEN}@gitlab.com".insteadOf "https://gitlab.com"
    - lsif-go
  artifacts:
    reports:
      lsif: dump.lsif

compile:
  stage: build
  image: docker.io/golang:${GO_VERSION}
  script:
    - chmod +x .gitlab/machine.sh
    - .gitlab/machine.sh
    - git config --global url."https://oauth2:${CICD_TOKEN}@gitlab.com".insteadOf "https://gitlab.com"
    - go mod tidy
    - go build -v ./...
  allow_failure: false
  only:
    - branches

unit:
  stage: test
  image: docker.io/golang:${GO_VERSION}
  variables:
    output: report.xml
  script:
    - chmod +x .gitlab/machine.sh
    - .gitlab/machine.sh
    - git config --global url."https://oauth2:${CICD_TOKEN}@gitlab.com".insteadOf "https://gitlab.com"
    - go install gotest.tools/gotestsum@latest
    - gotestsum --junitfile ${output} --format testname
  artifacts:
    when: always
    reports:
      junit: ${output}
  allow_failure: false
  only:
    - branches

coverage:
  stage: test
  image: docker.io/golang:${GO_VERSION}
  variables:
    output: coverage-report.out
    html: coverage-report.html
  script:
    - chmod +x .gitlab/machine.sh
    - .gitlab/machine.sh
    - git config --global url."https://oauth2:${CICD_TOKEN}@gitlab.com".insteadOf "https://gitlab.com"
    - CGO_ENABLED=0 go test ./... -coverprofile=${output}
    - go tool cover -html=${output} -o ${html}
    - go tool cover -func=${output}
  artifacts:
    paths:
      - ${html}
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches