variables:
  GO_VERSION: '1.23.4'
  GOPRIVATE: gitlab.com/iskaypetcom
  GOEXPERIMENT: nocoverageredesign

image: docker.io/golang:${GO_VERSION}

default:
  tags:
    - kubernetes-executor

.go-cache:
  variables:
    GOMODCACHE: $CI_PROJECT_DIR/.gomodcache
  before_script:
    - if [ -d "$HOME" ]; then echo "machine gitlab.com login glpat password $CICD_TOKEN" > "$HOME/.netrc"; fi
    - mkdir -p ${GOMODCACHE}
    - chmod +x .gitlab/setup.sh
  cache:
    paths:
      - ${GOMODCACHE}/

stages:
  - release

bundle:
  extends: .go-cache
  stage: release
  script:
    - .gitlab/setup.sh build
    - .gitlab/setup.sh test
    - .gitlab/setup.sh lint
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      codequality: gl-code-quality-report.json
    paths:
      - coverage-report.html
      - gl-code-quality-report.json
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - branches
