image: docker.io/golang:1.24.3

default:
  tags:
    - kubernetes-executor

variables:
  GOMODCACHE: $CI_PROJECT_DIR/.gomodcache
  GOLANGCI_LINT_CACHE: $CI_PROJECT_DIR/golangci-lint/.cache
  GOTESTSUM_CACHE: $CI_PROJECT_DIR/gotestsum/.cache
  CGO_ENABLED: 0
  GOEXPERIMENT: nocoverageredesign

.go-cache:
  before_script:
    - if [ -d "$HOME" ]; then echo "machine gitlab.com login glpat password $CICD_TOKEN" > "$HOME/.netrc"; fi
    - mkdir -p ${GOMODCACHE} ${GOLANGCI_LINT_CACHE} ${GOTESTSUM_CACHE}
  cache:
    key:
      files:
        - go.mod
        - go.sum
    paths:
      - ${GOMODCACHE}/
      - ${GOLANGCI_LINT_CACHE}/
      - ${GOTESTSUM_CACHE}/

stages:
  - package

build:
  extends: .go-cache
  stage: package
  script:
    # Download
    - go mod download
    - go mod verify

    # Build
    - go build -v -ldflags="-s -w" ./...

    # Test Report [artifacts:reports:junit]
    - echo -e "\033[1;34m> Test Report\033[0m"
    - go tool gotestsum --junitfile report.xml --format testname

    # Coverage Badge
    - echo -e "\033[1;34m> Coverage Badge\033[0m"
    - GOEXPERIMENT=nocoverageredesign CGO_ENABLED=0 go test ./... -coverprofile=coverage-report.out
    - go tool cover -html=coverage-report.out -o coverage-report.html
    - go tool cover -func=coverage-report.out

    # Coverage Report [artifacts:reports:coverage_reports]
    - echo -e "\033[1;34m> Coverage Report\033[0m"
    - GOEXPERIMENT=nocoverageredesign go test ./... -coverprofile=coverage.txt -covermode count
    - go tool gocover-cobertura <coverage.txt >coverage.xml

    # Linter  [artifacts:reports:codequality]
    - echo -e "\033[1;34m> Linter\033[0m"
    - go tool golangci-lint run

  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      codequality: gl-code-quality-report.json
    paths:
      - coverage-report.html
      - gl-code-quality-report.json
  coverage: "/\\(statements\\)\\s+\\d+.?\\d+%/"
  allow_failure: false
  only:
    - main
    - merge_request
