# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.7'

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Download
        run: task download

      - name: Build
        run: task build

      - name: Mocks
        run: task mock

      - name: Test
        run: task test
